

#cubHeader
{
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    padding: 16px;
    will-change: transform;
    display: flex;
    -webkit-transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
    transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
    transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
    transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s, -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  z-index: 1000; 
}

  .primary{
      background-color: #3F51B5;
      color: #fff;
  }
  .secondary{
      background-color: #0097A7;
      color: #fff;
  }
  .dark {
    background-color: #212121;
    color: #fff;
  }
  .normal{
      background: #BDBDBD;
      color: #222;
  }
  .fixed {
    position: fixed;
  }

  #cubHeader .primary #cubSideNav {
    background-color: #3F51B5;
    color: #fff;
  }
  #cubHeader .secondary #cubSideNav {
    background-color: #0097A7;
    color: #fff;
  }
  #cubHeader .dark #cubSideNav {
    background-color: #212121;
    color: #fff;
  }
  #cubHeader .normal #cubSideNav {
    background: #BDBDBD;
    color: #222;
  }

